node_modules/
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn

# OS files
.DS_Store
Thumbs.db